*{
    margin: 0;
    padding: 0;
}
/* body{
    display: grid;
    grid-template-columns:  repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);;
    border: solid black 1px;
} */

#map { 
    height: 100vh;
    position: relative;
    
}
#selectionCarb{
    width: auto;
    height: auto;
    position: absolute;
    top: 75px;
    right: 10px;
    z-index: 9999;
    background-color:aliceblue;
    place-items: center;
    padding: 10px;
    border-radius: 10px;
}



.canvaContainer{
    position: relative;
    height: 200px;
}

canvas {
    position: absolute;
    left: 0px;
    top: 0px;
}
